Source: hyfetch
Maintainer: Tianyu Chen <sweetyfish@deepin.org>
Section: utils
Priority: optional
Standards-Version: 4.6.2.0
Build-Depends:
 debhelper (>= 11~),
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-typing-extensions
Homepage: https://github.com/hykilpikonna/hyfetch/
Vcs-Browser: https://github.com/deepin-community/hyfetch/
Vcs-Git: https://github.com/deepin-community/hyfetch.git

Package: hyfetch
Architecture: all
Section: utils
Depends:
 ${misc:Depends},
 ${python3:Depends}
Description: Neofetch with LGBTQ+ pride flags!
 This package provides an alternative to neofetch.
